.stats-bottom__x-axis-legend {
  position: absolute;
  bottom: 5px;
  text-align: center;
  left: 0;
  right: 0;
  color: #505050;
  font-weight: 600; }

.stats-bottom__y-axis-legend {
  position: absolute;
  left: -35px;
  top: 100px;
  transform: rotate(-90deg);
  color: #505050;
  font-weight: 600; }

.stats-bottom__wrap {
  height: 180px;
  margin-top: 40px;
  padding: 20px 80px; }
