@import '../../variables';

.bottom-slider__wrap {
  //padding: 20px 80px;
  height: 250px;
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 40px;
  animation: bottomAppearance 0.5s;
  //border-top: 1px solid lightgray;
  box-shadow: 0px 0px 4px -4px rgba(0, 0, 0, 0.1), 0px -2px 17px 0 rgba(0, 0, 0, 0.1);
}

@keyframes bottomAppearance{
  from {bottom: -260px;}
  to {bottom: 40px;}
}

.slow-hide-active {
  animation: bottomHide 0.5s;
  bottom: -260px!important;
}

@keyframes bottomHide{
  from {bottom: 40px;}
  to {bottom: -260px;}
}

.bottom-slider__close-button {
  position: absolute;
  top: -13px;
  right: 15px;
  font-size: 18px;
  background: $color-prime;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  color: #fff;
  &:hover {
    background: $color-prime-hard;
  }
}