@import '../../variables';

.week-table-wrap {
  //order: 2;
  //flex: 1 1 560px;
  //align-self: stretch;
  width: $weektable-width;
  display: inline-block;
  height: 100vh;
  background: $color-prime;
  @media screen and (max-width: 1050px) {
    width: $weektable-width-small;
  }
  @media screen and (max-width: 800px) {
    width: $weektable-width-small-four;
  }
  @media screen and (max-width: 600px) {
    width: $weektable-width-small-one;
  }
}

.week-table__stats__text {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.week-table-wrap--flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  position: relative;
}

.week-table__header {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  height: 41px;
  line-height: 41px;
  color: #fff;
  padding: 0 20px;
  position: relative;
}

.week-table__header__icon {
  cursor: pointer;
  color: #fff;
  &:hover {
    color: $color-prime-hard;
  }
}

.week-table__navigation {
  @media screen and (max-width: 600px) {
    position: absolute;
    left: -65px;
    color: grey;
    top: 1px;
    button {
      color: rgba(0, 0, 0, 0.65);
      font-size: 17px!important;
    }
  }
  button {
    margin-right: 15px;
    font-size: 16px;
    &:hover {
      color: $color-prime-hard;
    }
  }
}

.week-table__heading {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 100px;
  margin: 0 auto;
  top: 0;
  text-transform: uppercase;
  @media screen and (max-width: 600px) {
    font-size: 12px;
    width: 83px;
  }
}

.week-table__stats {
  font-size: 12px;
  font-weight: 300;
  float: right;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.week-table__day-column-hidden {
  display: none;
}

.week-table__nav-right {
  position: absolute;
  right: 5px;
  top: 15px;
}

.week-table__nav-left {
  position: absolute;
  left: 5px;
  top: 15px;
}