$header-height: 40px;
$weektable-width: 650px;
$weektable-width-small: 450px;
$weektable-width-small-four: 300px;
$weektable-width-small-one: 100px;

$color-prime: #ff8d57;
$color-prime-hard: #ff4b4b;