@import 'variables';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.content-wrap {
  min-height: calc(100vh - #{$header-height});
  margin-bottom: 40px;
}
.content-wrap--flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

h1, h2, h3, h4, h5 {
  margin: 0!important;
  color: inherit!important;
}

.button-no-decoration {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.hidden {
  display: none!important;
}

.drawer-settings__wrap {
  text-align: center;
}

.ant-drawer-title {
  text-transform: uppercase;
  font-size: 15px!important;
  color: inherit!important;
}

.ant-layout {
  background: #ffffff!important;
}

.drawer-settings__wrap {
  position: relative;
  height: calc(100vh - 100px);
}

.drawer-settings__erase-brn {
  position: absolute !important;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 205px;
}

.drawer-settings__login-brn {
  width: 205px;
  margin-bottom: 20px;
}

.drawer-settings__registration-text {
  color: #808080;
  font-weight: 300;
  font-size: 11px;
  text-align: left;
  display: block;
  margin: 0 3px;
  padding: 0 21px;
  p {
    margin-bottom: 5px;
  }
}

.modal-feature__form {
  margin-top: 10px;
}

._hj-f5b2a1eb-9b07_widget {
  z-index: 10 !important;
  left: 7px!important;
}

.ant-drawer-body {
  padding-left: 0!important;
  padding-right: 0!important;
}

.firebaseui-idp-list {
  margin-top: 0!important;
}

.transfer-modal__extratext {
  font-size: 11px;
}