.day-column__section {
  height: 35px;
  border-bottom: 1px solid lightgray;
  line-height: 35px;
  text-align: center;
  position: relative; }
  .day-column__section.day-column__section--active:hover .day-column__init-icon--minus {
    display: inline-block; }
  .day-column__section.day-column__section--active:hover .day-column__init-icon--plus {
    display: none; }
  .day-column__section:hover .day-column__init-icon--plus {
    display: inline-block; }

.day-column__init-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: lightgray;
  display: none;
  cursor: pointer; }
  .day-column__init-icon:hover {
    color: dimgrey; }

.day-column__section--active .day-column__radio {
  display: inline-block; }

.day-column__section--active .day-column__init-icon.day-column__init-icon--plus {
  display: none; }

.day-column__section--active .day-column__init-icon.day-column__init-icon--minus {
  display: none; }

.day-column__radio {
  display: none; }

.day-column__radio--active {
  display: inline-block; }
